<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human AI Co-Reasoning System</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
</head>

<body>
    <nav class="siimple-navbar siimple-navbar--dark siimple-navbar--large">
        <div class="siimple-navbar-title">Human AI Co-Reasoning System</div>
    </nav>

    {%block content%}
    {%endblock content%}
</body>

</html>