{% extends "base.html" %}

{% block content %}
<div class="siimple-content siimple-content--large">
    <h1>Introduction</h1>

    <p>The primary goal of this study is to evaluate the usability of the baseline human-AI collaborative reasoning
        system. You will edit a commonsense reasoning path provided by the machine to become more rational, in your
        opinion. The system provides you with a basic interface to edit the reasonings.</p>

    <h1>Background</h1>

    <div class="siimple-card">
        <div class="siimple-card-body">
            <p class="siimple--text-center">Tom was driving his car.</p>
            <p class="siimple--text-center">He wanted to take a scenic way home.</p>
            <p class="siimple--text-center">He deliberately passed his exit.</p>
            <p class="siimple--text-center">Tom saw many beautiful trees.</p>
            <p class="siimple--text-center">Tom took the scenic way home.</p>
        </div>
    </div>

    <p>Given the story above, to answer the question "what is the human need that drives Tom to take the scenic way
        home?" The underlying AI will first identify an appropriate human need category (e.g., status, approval, food,
        etc.), then justify its choice with reasoning.</p>

    <p>For example, it may believe that "calm" is the reason for Tom's behavior and provide a reasoning that</p>

    <div class="siimple-card">
        <div class="siimple-card-body">
            <p class="siimple--text-center">
                <code class="siimple-code">home</code> <span
                    class="siimple-tag siimple-tag--primary siimple-tag--rounded">related to</span>
                <code class="siimple-code">rest</code> <span
                    class="siimple-tag siimple-tag--primary siimple-tag--rounded">related to</span>
                <code class="siimple-code">calm</code></p>
        </div>
    </div>

    <p>Every reasoning follows the same "<code class="siimple-code">concept</code> <span
            class="siimple-tag siimple-tag--primary siimple-tag--rounded">relation</span> <code
            class="siimple-code">concept</code>" format. A concept can be a word or a simple phrase,
        while the relations
        can be one of the following types (which will be available during your editing process):</p>

    <ul>
        <li><b>related to</b>: <code class="siimple-code">concept 1</code> is like <code
                class="siimple-code">concept 2</code></li>
        <li><b>is a</b>: <code class="siimple-code">concept 1</code> is a type of <code
                class="siimple-code">concept 2</code></li>
        <li><b>used for</b>: <code class="siimple-code">concept 1</code> is used for <code
                class="siimple-code">concept 2</code></li>
        <li><b>capable of</b>: <code class="siimple-code">concept 1</code> can <code
                class="siimple-code">concept 2</code></li>
        <li><b>causes</b>: Sometimes <code class="siimple-code">concept 1</code> causes <code
                class="siimple-code">concept 2</code></li>
        <li><b>has a</b>: <code class="siimple-code">concept 1</code> has <code class="siimple-code">concept 2</code>
        </li>
        <li><b>has subevent</b>: Something you do when you <code class="siimple-code">concept 1</code> is <code
                class="siimple-code">concept 2</code></li>
        <li><b>has first subevent</b>: the first thing you do when you <code class="siimple-code">concept 1</code> is
            <code class="siimple-code">concept 2</code></li>
        <li><b>has last subevent</b>: the last thing you do when you <code class="siimple-code">concept 1</code> is
            <code class="siimple-code">concept 2</code></li>
        <li><b>has prerequisite</b>: In order for <code class="siimple-code">concept 1</code> to happen, <code
                class="siimple-code">concept 2</code> needs to happen</li>
        <li><b>has property</b>： <code class="siimple-code">concept 1</code> is <code
                class="siimple-code">concept 2</code></li>
        <li><b>motivated by goal</b>: You would <code class="siimple-code">concept 1</code> because you want to <code
                class="siimple-code">concept 2</code></li>
        <li><b>obstructed by</b>: <code class="siimple-code">concept 1</code> can be prevented by <code
                class="siimple-code">concept 2</code></li>
        <li><b>desires</b>: <code class="siimple-code">concept 1</code> wants <code
                class="siimple-code">concept 2</code></li>
        <li><b>synonym</b>: <code class="siimple-code">concept 1</code> and <code class="siimple-code">concept 2</code>
            have similar meanings</li>
        <li><b>antonym</b>: <code class="siimple-code">concept 1</code> is the opposite of <code
                class="siimple-code">concept 2</code></li>
        <li><b>entails</b>: if <code class="siimple-code">concept 1</code> is happening, <code
                class="siimple-code">concept 2</code> is also happening</li>
        <li><b>manner of</b>: <code class="siimple-code">concept 1</code> is a specific way of doing <code
                class="siimple-code">concept 2</code></li>
    </ul>

    <p>A valid reasoning must begin with a concept that appeared in the story and end with one of the following human
        need concepts (which will be available during your editing process):</p>

    <ul>
        <li><code class="siimple-code">status</code></li>
        <li><code class="siimple-code">approval</code></li>
        <li><code class="siimple-code">tranquility</code></li>
        <li><code class="siimple-code">competition</code></li>
        <li><code class="siimple-code">romance</code></li>
        <li><code class="siimple-code">food</code></li>
        <li><code class="siimple-code">independent</code></li>
        <li><code class="siimple-code">power</code></li>
        <li><code class="siimple-code">serenity</code></li>
        <li><code class="siimple-code">honor</code></li>
        <li><code class="siimple-code">belonging</code></li>
        <li><code class="siimple-code">contact</code></li>
        <li><code class="siimple-code">rest</code></li>
        <li><code class="siimple-code">family</code></li>
        <li><code class="siimple-code">idealism</code></li>
        <li><code class="siimple-code">curiosity</code></li>
        <li><code class="siimple-code">savings</code></li>
        <li><code class="siimple-code">order</code></li>
        <li><code class="siimple-code">health</code></li>
    </ul>

    <h1>Your Task</h1>

    <p>Your task is to improve the system generated, problematic reasoning by</p>

    <ol>
        <li><b>Deleting</b> inappropriate, in your understanding, concepts</li>
        <li><b>Replacing</b> inappropriate, in your understanding, concepts with an appropriate one</li>
        <li><b>Adding</b> new concepts</li>
    </ol>

    <a href="{{url_for('interaction_guide')}}" class="siimple-btn siimple-btn--primary">Next Step</a>
</div>
{% endblock content %}